name: Pull Request Check
on:
  pull_request:
    paths:
      - 'backend/**'
      - '.github/workflows/pull-request.check.yml'

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}-pull-request-check
  cancel-in-progress: true
    
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.0.x'
      - name: Build
        run: dotnet build /p:TreatWarningsAsErrors=true /warnaserror
